.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
/* //Animation */
.hero-title{
    animation: flow 4s steps(10) infinite forwards;
}
@keyframes flow {
    from{
        width: 0;
    }
    to{
        width: 10ch;
    }
}
.feature-card:hover{
    transform: translate(10px);
}