*{
    margin: 0;
    padding: 0;   
}

/* share style */
.bg-1{
    background-color: #1A0B2E;
}


/* //navbar style */
nav{
    max-width: 100rem;
    height: 92px;
}
.nav-title{
    font-weight: 700;
}
.nav-title-gradient{
    background: linear-gradient(to bottom, #a10cf7, #ee9209);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
.nav-btn, .btn-1{
    background:linear-gradient(to right, #ee7009, #8f08b1);
}

/* //Style Hero section  */
.hero-container{
    max-width: 100rem;
    height: 760px;
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.hero-img{
    width: 350px;
    height: 350px;
    background-image: url('assets/hero-circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    left: 625px;
    right: 625px;
    top: 101px;
}
.hero-badge{
    position: absolute;
    top: 113px;
    left: 877px;
    right: 648px;
    z-index: 2;
}
.hero-content{
    width: 100%;
    position: absolute;
    top: 491px;
    text-align: center;
}
.hero-content h1{
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-btn{
    margin-top: 24px;
}
.btn-1, .btn-2{
    padding: 12px 20px;
}